{% extends "bootstrap/base.html" %}
{% block content %}
{% load static %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Contactos Sucursales</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Region</th>
                      <th>Sucursal</th>
                      <th>Telefono Suc</th>
                      <th>Direccion</th>
                      <th>Telefonos</th>
                      <th>Horario de Atencion</th>
                      <th>Referente</th>
                      <th>Celular</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Region</th>
                      <th>Sucursal</th>
                      <th>Telefono Suc</th>
                      <th>Direccion</th>
                      <th>Telefonos</th>
                      <th>Horario de Atencion</th>
                      <th>Referente</th>
                      <th>Celular</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for i in contactoSuc %}
                    <tr>
                      <td>{{i.region}}</td>
                      <td>{{i.sucursal}}</td>
                      <td>{{i.telefonoSuc}}</td>
                      <td>{{i.direccion}}</td>
                      <td>{{i.telefonos}}</td>
                      <td>{{i.horarioAtencion}}</td>
                      <td>{{i.referente}}</td>
                      <td>{{i.celular}}</td>
                      <td><a href="">Editar</a></td>
                      <td><a href="">Borrar</a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>

                <!-- formulario-->
                <form action="" method="POST">
                  {% csrf_token %}
                  {{ form.management_form }}
                  {% for field in form %}
                        {{field}}
                  {% endfor %}
                </form>
                <!-- fin de formulario-->
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



{% endblock %}