{% extends "bootstrap/base.html" %}
{% block content %}
{% load static %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 " align="center">Estado de Enlaces</h1>

          <!-- Topo IBM -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Topologia IBM</h6>
            </div>
            <div >
              <iframe frameborder="0" style="width:100%;height:1000px;" src="http://172.21.46.103:3000/d/fwh4zoH7z/testsnmp?orgId=1&kiosk"></iframe>

            </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



{% endblock %}