{% extends "bootstrap/base.html" %}
{% block content %}
{% load static %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 " align="center">Detalle de servicio</h1>

          <!-- Topo IBM -->
          <div class="card shadow mb-4">
            <!--div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Estado de Red</h6>
            </div-->
            <div >
              <iframe frameborder="0" style="width:100%;height:1000px;" src="http://nagios.art.com/thruk/#cgi-bin/bp.cgi?action=details&bp=7"></iframe>

            </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



{% endblock %}