<!--!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head-->
<!--body-->
<!--Comienzo seleccion dropdown-->
<div class="container-fluid">
    <label><h2> Consultas </h2></label>
    <select class="form-control" name="widget">
        {% for preguntas  in showpreguntas %}
        <option value="{{ widget.NoLlegoPagina }}">{{ widget.NoLlegoPagina }}</option>
        {% endfor %}
        <option>Elegi una opcion</option>
        <option value="NoLlegoPagina">No llego a una pagina</option>
        <option value="NoLlegoServer">No llego a un server</option>
        <option value="NoRemoto">No tengo acceso remoto</option>
        <option value="PtoCerrado">Parece que el puerto está cerrado</option>
    </select>
</div>
<!--/body-->
<!--/html-->