{% extends "bootstrap/base.html" %}
{% load static %}
{% block content %}


 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Inventario de Equipos</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!--h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6-->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Vendor</th>
                      <th>IP</th>
                      <th>Sitio</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Vendor</th>
                      <th>IP</th>
                      <th>Sitio</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for inventario in inventarios %}
                    <tr>
                      <td>{{inventarios.ip}}</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock content %}
