{% extends "bootstrap/base.html" %}
{% block content %}
{% load static %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Topologias</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- Topo IBM -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Topologia IBM</h6>
            </div>
            <div class="card-body">
              <iframe frameborder="0" style="width:100%;height:308px;" src="https://104.22.70.207/?highlight=0000ff&edit=_blank&layers=1&nav=1#G1mht3qUw7Ce8hg3KMwdGVfPChL4jgftgT"></iframe>

            </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



{% endblock %}