{% extends "bootstrap/base.html" %}
{% load static %}
{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <!--Begin jumbotron-->
    <!--div class="d-sm-flex align-items-center justify-content-between mb-4"-->
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Automation <i class="fa fa-robot"></i></h1>
                <!--Imagen Bender en  jumbotron-->
                <!--img  src="{% static 'img/bender.jpg' %}" width="25" height="25" -->
                <p class="lead">Una pagina para hacer T-shoot automatico</p>
            </div>
        </div>
    </div>
</div>
<!--End jumbotron-->

<!--Comienzo form -->
<div class="container-fluid">

    <!--Comienzo seleccion acordion-->
    <!--Comienzo No llego a pagina-->
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            No llego a una página
                        </button>
                    </h2>
                </div>


                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container-fluid">
                            <h5> Por favor ingresá la url a la que no podés acceder: </h5>
                        </div>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <!--token para django-->
                            <!--Comienzo form group URL -->
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">URL</div>
                                    </div>
                                    <input type="text" name="url" class="form-control"
                                           id="inlineFormInputGroup"
                                           placeholder=" ww.experta.com.ar">
                                </div>
                            </div>
                            <!--Fin form group URL -->
                            <!--Comienzo form group PORT_URL -->
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">:</div>
                                    </div>
                                    <input type="text" name="port_url" class="form-control"
                                           id="inlineFormInputGroup"
                                           placeholder=" 443">
                                </div>
                            </div>
                            <!--Fin form group PORT_URL -->
                            <!--Comienzo button form group -->
                            <div class="container-fluid col-auto">
                                <div class="container-fluid col-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <!--Fin No llego a pagina-->
            <!--Comienzo No llego a Server-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                            No llego a Server
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <h5> Por favor ingresá IP origen, IP destino:</h5>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="container-fluid form-row align-items-center">

                                <!--Comienzo form group IP origen-->
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">IP</div>
                                        </div>
                                        <input type="text" name="origen" class="form-control"
                                               id="inlineFormInputGroup"
                                               placeholder="IP Origen">
                                    </div>
                                </div>
                                <!--fin form group IP origen-->
                                <!--Comienzo form group IP destino-->
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">IP</div>
                                        </div>
                                        <input type="text" name="destino" class="form-control"
                                               id="inlineFormInputGroup"
                                               placeholder="IP Destino">
                                    </div>
                                </div>
                                <!--Fin form group IP destino-->
                            </div>

                            <!--Comienzo button form group -->
                            <div class="container-fluid col-auto">
                                <div class="container-fluid col-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                </div>
                            </div>
                            <!--Comienzo button form group -->
                        </form>


                    </div>
                </div>
            </div>
            <!--Fin No llego a Server-->
            <!--Comienzo No Tengo Acceso remoto-->
            <div class="card">
                <div class="card-header" id="headingThree"
                ">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        No Tengo Acceso remoto
                    </button>
                </h2>
            </div>
            <div id="collapseThree"
            " class="collapse" aria-labelledby="headingThree"
            data-parent="#accordionExample">
            <div class="card-body">
                <h5> Por favor ingresá IP o nombre del servidor al que intentás acceder:</h5>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">IP/Nombre</div>
                            </div>
                            <input type="text" name="destino_rdp" class="form-control"
                                   id="inlineFormInputGroup"
                                   placeholder="IP Destino o lal015">
                        </div>
                    </div>
                    <!--Comienzo button form group -->
                    <div class="container-fluid col-auto">
                        <div class="container-fluid col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <!--Fin No Tengo Acceso remoto-->
    <!--Comienzo Parece que el puerto está cerrado-->
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                    Parece que el puerto está cerrado
                </button>
            </h2>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
             data-parent="#accordionExample">
            <div class="card-body">

                <div class="container-fluid">
                    <h5> Por favor ingresá IP origen y puerto destino: </h5>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container-fluid form-row align-items-center">
                        <!--token para dijango-->
                        <!--Comienzo form udp_tcp-->
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">TCP/UDP</div>
                                </div>
                                <input type="text" name="udp_tcp" class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="UDP/TCP">
                            </div>
                        </div>
                        <!--Fin form group UDP TCP-->

                        <!--Comienzo form group IP origen-->
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">IP</div>
                                </div>
                                <input type="text" name="iporigen_port" class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="IP Origen">
                            </div>
                        </div>
                        <!--fin form group IP origen-->

                        <!--Comienzo form group puerto origen -->
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">:</div>
                                </div>
                                <input type="text" name="portori_port" class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="8080">
                            </div>
                        </div>
                        <!--Fin form group puerto origen-->
                        <!--Comienzo form group IP destino-->
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">IP</div>
                                </div>
                                <input type="text" name="ipdestino_port" class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="IP Destino">
                            </div>
                        </div>
                        <!--Fin form group IP destino-->
                        <!--Comienzo form group puerto destino-->
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">:</div>
                                </div>
                                <input type="text" name="portdest_port" class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="8080">
                            </div>
                        </div>
                        <!--Fin form group puerto destino-->
                    </div>

                    <!--Comienzo button form group -->
                    <div class="container-fluid col-auto">
                        <div class="container-fluid col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </div>
                    <!--Comienzo button form group -->
                </form>


            </div>
        </div>
    </div>
    <!--Fin Parece que el puerto está cerrado-->


    <hr>
    <!--Comienzo output general-->
    <div class="container-fluid">
        <div class="jumbotron ">
            <p>Command output:</p>
            {% if request.POST %}
            <p class="text-justify" rows="20" cols="65" autofocus>{{ output}}</p>
            {% endif %}
        </div>
    </div>
    <!--Fin output general-->

</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% endblock content %}









