
{% include "bootstrap/base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Inventario IP</h1>
          <!--p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p-->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!--h6 class=" table-title m-0 font-weight-bold text-primary">DataTables Example</h6-->
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>

            <div class="card-body">
              <div class="table-responsive">
               <!--!El from va antes de la tabla es para submitir los datos-->
                <form action="." method="GET" class="uniForm">
                    {% csrf_token %}
                    {% crispy filter.form filter.form.helper %}
                    <!-- display the table -->
                    {% render_table table %}
              </div>
            <div>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary">
            </div>
</form>







        </div>


        </div>
        <!-- /.container-fluid -->




<!-- display the filter -->





{% endblock %}
      </div>
      <!-- End of Main Content -->



