<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/baselogin.html" %}
{% load static %}
{% block content %}



<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!--img  src="{% static 'img/bender.jpg' %}" width="25" height="25" -->
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenidos!</h1>
                  </div>
                  <form class="user">
                   {% csrf_token %}
                   <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                      {{form.username}}
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                      {{form.password}}
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recordar</label>
                      </div>
                    </div>
                    <a href="{% url 'estadoRed' %}" class="btn btn-primary btn-user btn-block">
                      Login
                    </a>
                    <hr>

                  </form>

                  <div class="text-center">
                    <a class="small" href="{% url 'register' %}" >Registrate!</a>
                  </div>

				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <!--script src="{% static 'js/demo/editable.js' %}"></script-->

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
{% endblock content %}
