<!-- como su nombre lo indica este es el nabvarwrapper de la web
aquí tenemos los dropdowns, y anchors a las diferentes secciones de la web -->
{% load static %}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <!-- descomentar linea de abajo al subir la primera version -->
        <!--a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"-->
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-robot"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Automation</sup></div>
        </a>


        <!-- Nav Item - Dashboard -->
        {% if user.is_admin %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-home"></i>
                <span>HOME</span></a>
        </li>
        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->

        <!-- Nav Item tablas- Pages Collapse Menu -->
        {% if user.is_admin %}

        <li class="nav-item">
            <a class="nav-link collapsed" href=#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
               aria-controls="collapseThree">
                <i class="fas fa-fw fa-table"></i>
                <span>Planillas</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Planillas:</h6>
                    <a class="collapse-item" href="{#% url 'inventario' %}">Inventario IP</a>
                    <a class="collapse-item" href="{% url 'equipos' %}">Inventario Equipos</a>
                    <a class="collapse-item" href="{% url 'contactossuc' %}">Contacto Sucursales</a>
                </div>
            </div>
        </li>

        <!-- fin Nav Item tablas -->

        <!-- Nav Item Topologias- Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href=#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
               aria-controls="collapseFour">
                <i class="fas fa-fw fa-network-wired"></i>
                <span>Topologias</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Secciones:</h6>
                    <a class="collapse-item" href="{% url 'ibm' %}">IBM</a>
                    <a class="collapse-item" href="{% url 'ibera' %}">Ibera</a>
                    <a class="collapse-item" href="{% url 'sucursales' %}">Sucursales</a>
                </div>
            </div>
        </li>
        {% endif %}
        <!-- fin Nav Item Topologias-->

                <!-- Nav Item Graficos- Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href=#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
               aria-controls="collapseFive">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Graficos</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Estado:</h6>
                    <a class="collapse-item" href="{% url 'estadoRed' %}">Estado de Red</a>
                    <a class="collapse-item" href="{% url 'estadoWeb' %}">Estado de Páginas Web</a>
                    <!--a class="collapse-item" href="{% url 'dcibera' %}">DC-Ibera</a-->
                    <!--a class="collapse-item" href="{% url 'cac' %}">CAC</a-->
                    <!--a class="collapse-item" href="{% url 'holding' %}">Holding</a-->
                    <!-- servicios desde nagios thruk-->

                </div>
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Servicios:</h6>
                    <a class="collapse-item" href="{% url 'detalleServicioIBM' %}">Servicio detallado IBM</a>
                    <a class="collapse-item" href="{% url 'detalleServicioIBERA' %}">Servicio detallado IBERA</a>
                    <a class="collapse-item" href="{% url 'detalleServicioVDI' %}">Servicio detallado VDI</a>
                    <!--a class="collapse-item" href="{% url 'dcibera' %}">DC-Ibera</a-->
                    <!--a class="collapse-item" href="{% url 'cac' %}">CAC</a-->
                    <!--a class="collapse-item" href="{% url 'holding' %}">Holding</a-->
                    <!-- servicios desde nagios thruk-->

                </div>


            </div>




        </li>

        <!-- fin Nav Item Graficos-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                         aria-labelledby="searchDropdown">
                        <form method="POST" class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">

                                <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user}}</span>
                            <img class="img-profile rounded-circle" src="{% static 'img/bendermrrobot.png' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <!--a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div-- class="dropdown-divider"></div-->
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Queres terminar tu sesión?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleccioná logout para terminar la sesión</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
            </div>
        </div>
    </div>
</div>


</div>
