<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/baselogin.html" %}
{% load static %}
{% block content %}


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Registrate!</h1>
              </div>
              <form method="POST" class="user" action="">
                {% csrf_token %}
                <div class="form-group "  >
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="username" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre">
                    {{form.username.as_p}}
                  </div>

                </div>
                <!--no vamos a utilizar email por el momento pero no lo boramos por si llegaramos a necesitarlo-->
                <!--div class="form-group">
                  <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email">
                  {{form.email.as_p}}
                </div-->

                <div class="form-group ">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" name="password1" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    {{form.password1.as_p}}
                  </div>
                  </div>
                    <div class="form-group ">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" name="password2" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Ingresá nuevamente la Password">
                    {{form.password2.as_p}}
                  </div>
                </div>

                <input type="submit" class="btn btn-primary btn-user btn-block" value="Registrate" >
                <a>

                </a>
                <hr>

              </form>
              {{form.errors}}
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Ya tenés una cuenta? Ingresá!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
{% endblock %}