<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


                 <!--Comienzo Parece que el puerto está cerrado-->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                        Parece que el puerto está cerrado
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="container-fluid">
                                        <h5> Por favor ingresá IP origen y puerto destino: </h5>
                                    </div>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                       {{form}}                                         <div class="container-fluid form-row align-items-center">
                                            <!--token para dijango-->
                                         <!--Comienzo form udp_tcp-->
                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">TCP/UDP</div>
                                                    </div>
                                                    <input type="text" name="udp_tcp" class="form-control"
                                                           id="inlineFormInputGroup"
                                                           placeholder="UDP/TCP">
                                                </div>
                                            </div>
                                            <!--Fin form group UDP TCP-->


                                        </div>

                                        <!--Comienzo button form group -->
                                        <div class="container-fluid col-auto">
                                            <div class="container-fluid col-auto">
                                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                            </div>
                                        </div>
                                        <!--Comienzo button form group -->
                                    </form>


                                </div>
                            </div>
                        </div>
                        <!--Fin No llego a Server-->
                    </div>
                </div>
            </div>
            <!--Fin Parece que el puerto está cerrado-->



   <!--Comienzo output general-->
        <div class="container-fluid">
            <p>Command output:</p>
            {% if request.POST %}
            <textarea rows="20" cols="65" autofocus>{{ output}}</textarea>
            {% endif %}
        </div>
        <!--Fin output general-->

</body>
</html>